@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}


.banner {
    height: 30%;
    width: 100%;
    background-color: #DE7B87;
    display: flex; // Para usar flexbox
    justify-content: center; // Para centralizar horizontalmente
    align-items: center; // Para centralizar verticalmente
    background-color: #DE7B87;
  
    img {
      height: 100px;
      width: 100px;
    }
}

.card {
    margin-top: -10px;
}

.login-bg {
    height: 70%;
    width: 100%;
    background-color: #DE7B87;

    .login {
        height: 100%;
        width: 100%;
        background-color: #fff;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
}

h1 {
    margin-top: 60px;
    margin-bottom: 2px;
    font-size: 30px;
}

ion-label {
    font-size: 20px;
}

.copy {
    margin-left: 15px;
}

h3 {
    color: #939fab;
    margin-top: 0.5px;
    font-size: 23px;
}

h4 {
    margin-top: -0.1px;
    font-size: 20px;
    color: #323232;
}

.forgot-password-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #939fab;
}

.footer_pai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 150px;
    margin-top: 100px;
}

.btn_cadastro {
    --box-shadow: none;
    --border-radius: 10px;
    // --background: linear-gradient(
    //   90deg,
    //   rgba(250, 87, 142, 1) 0%,
    //   rgba(254, 171, 142, 1) 100%
    // );
    --background: #E5959F;
    --background-activated: #bd7a82;
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial;
}

.btn_login {
    --box-shadow: none;
    --border-radius: 10px;
    // --background: linear-gradient(
    //   90deg,
    //   rgba(250, 87, 142, 1) 0%,
    //   rgba(254, 171, 142, 1) 100%
    // );
    --background: #DE7B87;
    --background-activated: #b1616b;
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial;
}

.footer-text {
    text-align: center;
    font-size: 17px;
    margin-top: 55%;

    a {
        text-decoration: none;
        font-weight: 600;
        color: #DE7B87;
    }
}

form {
    padding-top: 30px;
}