<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="chatbox-ellipses"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon aria-hidden="true" name="bag-handle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="principal">
      <ion-icon aria-hidden="true" name="globe-outline"></ion-icon>
    </ion-tab-button>
  
    <ion-tab-button tab="">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
    </ion-tab-button>
  
    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
